* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
   overflow-x: hidden; 
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.section-hero {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 1em;
    align-items: center;
    justify-content: center;
    background-color: #ffe1b2;
    color: #5d4037;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: showHero 500ms ease-in-out;
}

.div__title-hero {
    max-width: 600px;
    margin-right: 20px;
}

.div__title-hero h2 {
    font-size: 2em;
    margin: 0 0 10px;
    background: linear-gradient(60deg, #FF7601, #611401);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.div__title-hero p {
    font-size: 1.5em;

    margin: 0;
}

.buttons {
    display: flex;
    margin-top: 1em;
    gap: 10px;
}

.div__title-hero button {
    background-color: #c53d13;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.div__title-hero button:last-child {
    background-color: #ff7044;
}

.div__title-hero button:hover {
    background-color: #b33a13;
}

.img__hero {
    max-width: 350px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: slideLeft 500ms ease-in-out;
}

.section-about {
    display: flex;
    font-size: 1.1em;
    width: 80%;
    margin: 0 auto;
    margin-top: 1em;
    align-items: center;
    justify-content: center;
    background-color: #ffe1b2;
    ;
    color: #5d4037;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: slideRight 500ms ease-in-out;
}


@keyframes slideLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes showHero {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .section-hero {
        flex-direction: column;
        text-align: center;
    }

    .div__title-hero {
        margin-right: 0;
        margin-bottom: 20px;
    }
    
}