@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto";
}
html{
   overflow-x:hidden; 
   
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    
}
.section-hero {
    display: flex;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 1em;
    align-items: center;
    justify-content: center;
    background-color: #ffe1b2;
    color: #5d4037;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: showHero 500ms ease-in-out;
}

.div__title-hero {
    max-width: 600px;
    margin-right: 20px;
}

.div__title-hero h2 {
    font-size: 2em;
    margin: 0 0 10px;
    background: linear-gradient(60deg, #FF7601, #611401);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.div__title-hero p {
    font-size: 1.5em;
    
    margin: 0;
}

.buttons {
    display: flex;
    margin-top: 1em;
    gap: 10px;
}

.div__title-hero button {
    background-color: #c53d13;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.div__title-hero button:last-child {
    background-color: #ff7044;
}

.div__title-hero button:hover {
    background-color: #b33a13;
}

.img__hero {
    width: 30em;
    max-width: 30em;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: slideLeft 450ms ease-in-out;
}

.section-about {
    display: flex;
    font-size: 1.1em;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 1em;
    align-items: center;
    justify-content: center;
    background-color: #ffe1b2;
    ;
    color: #5d4037;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: slideRight 450ms ease-in-out;
}



@keyframes slideLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes showHero {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .section-hero {
        flex-direction: column;
        text-align: center;
    }

    .div__title-hero {
        margin-right: 0;
        margin-bottom: 20px;
    }
    
}
.cards{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-width: 1280px;
    background-color: #ffe1b2;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.cards-title{
    font-size: clamp(1rem, 2.5vw, 2rem); 
    text-align: center;
    padding: 1em;
    background: linear-gradient(60deg, #FF7601, #611401);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cards__div{
    display: flex;
    flex-wrap: wrap;
     height: auto;
     gap: 15px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0 auto;

}
.card{
    margin-top: 1em;
    padding: .5em;
    width: min-content;
    background: rgba(255, 255, 255, 0.671);
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border-radius: 10px;
}
.card__title{
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    background: linear-gradient(300deg, #440e00, #ff8922);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card__description{
    font-size: clamp(1rem, 1.2vw, 2rem);
    font-weight: 500;
    font-family: "Open Sans";
}
.cards__div picture{
    width: 20rem;
    margin-top: 1em;
    aspect-ratio: 1/1;
    display: flex;
    border-radius: .25rem;
    overflow: hidden;
}
.cards__div picture img{
    height: 100%;
    width: 100%;
    max-width: 100%;
    /*Para que la imagen no se estire mas alla de lo que mide su contenedor*/
    object-fit: cover;
}

.card__opinion-container{
    width: min-content;
    background: rgba(255, 161, 21, 0.671);
    border-radius: 10px;
    padding: .5em;
    margin-top: .5em;
}
.card__opinion-p{
    font-weight: 600;
    font-family: "Open Sans";

}

.footer{
    display: flex;
    flex-direction: column;
    background: rgb(0, 0, 0);
    width: 100%;
    height: auto;
    padding: .5em;
}
.footer div{
    color: white;
    text-align: center;
}
.footer__dev{
    text-shadow: 0 0 10px white;
    text-decoration: underline;
    text-decoration-style: wavy; /* Estilo del subrayado: solid, double, dotted, dashed, wavy */

}

#contact{
    display: flex;
    flex-direction: column;
    background-color: #ffe1b2;
    width: 100%;
    max-width: 1280px;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
#contact h2{
    text-align: center;
    font-size: clamp(1.5rem, 2.5vw, 3rem);
    background: linear-gradient(360deg,#FF7601, #611401);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: auto;
    background: rgb(255, 255, 255);

    border-radius: 15px;
    height: auto;
    flex-wrap: wrap;

}
.contact__location-1{
    display: flex;
    flex-direction: row;
    margin-right: .5em;
    border-radius: 1rem;
    
}
.contact__p{
    display: flex;
    flex-direction: column;
    border-radius: 1rem 0 0 1rem ;
    padding: .5em;
    background: rgba(255,255,255,0.50);
}
.contact__p p{
    font-family: "Open Sans";
    font-weight: 500;
    margin: .5em;

}
.contact__picture{
    width: 20rem;
    aspect-ratio: 1/1;
    display: flex;
    border-radius: 0 1rem 1rem 0;
    overflow: hidden;
}

.contact__picture img{
    height: 100%;
    width: 100%;
    max-width: 100%;
    /*Para que la imagen no se estire mas alla de lo que mide su contenedor*/
    object-fit: cover;
}
.contac__social-icons{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact__location-2{
    display: flex;
    flex-direction: row;
    margin-right: .5em;
    border-radius: 1rem;
    
}
.contact__picture-2{
    width: 20rem;
    aspect-ratio: 1/1;
    display: flex;
    border-radius: 1rem 0 0 1rem;
    overflow: hidden;
}
.contact__picture-2 img{
    width: 20rem;
    aspect-ratio: 1/1;
    display: flex;
    border-radius: 1rem 0 0 1rem;
    overflow: hidden;
}

.contact__p-2{
    display: flex;
    flex-direction: column;
    border-radius: 0 1rem 1rem 0 ;
    padding: .5em;
    background: rgba(255,255,255,0.50);
}
.contact__p-2 p{
    font-family: "Open Sans";
    font-weight: 500;
    margin: .5em;

}
#contact-mobile{
    display: none;
}
@media(max-width:768px){
    #contact{
        display: none;
    }
    #contact-mobile{
        display: flex;
        flex-direction: column;
        background-color: #ffe1b2;
        width: 100%;
        max-width: 1280px;
        padding: 1em;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
    .contact__picture{
        width: 100%;
        max-width: 600px;
        aspect-ratio: 1/1;
        display: flex;
        border-radius: 1rem ;
        overflow: hidden;
        margin: .5em;
    }
    
    .contact__p{
        
        border-radius: 1rem;
        
    }
    #contact-mobile h2{
        text-align: center;
        font-size: clamp(1.5rem, 2.5vw, 3rem);
        background: linear-gradient(360deg,#FF7601, #611401);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
   
}