@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
:root{
    --color_blanco : white;
    --altura_header: 80px;
    --padding-left_rigth: 2rem;
    --ancho_maximo : 1200px;
}
*{
    font-family: Radio Canada Big , sans-serif;
}

a{
    text-decoration: none;
}

ol,ul{
    list-style:none;
}
.left-section {
    display: flex;
    align-items: center;
    border: 1px solid black;
}


.logo__img{
    width: 70px;
    height: auto;
    background-size: cover;
    border-radius: 50px;
    position: absolute;
    top: auto;
    bottom: 5px;
    left: 10px;
    right: auto;    
}

.header{
    height: var(--altura_header);
    background-color: #795548 ;
    color: white;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border-radius: 30px;    
    border: 1px solid rgba(255, 255, 255, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--padding_left_right);
    position:sticky;
    z-index: 100;
    animation: slideDown 1s ease-in-out;
}
@keyframes slideDown {
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.ul__links{
    display: flex;
    flex-direction: row;
    list-style:none;
    
    margin-right: var(--padding-left_rigth);
    gap: 1em;
}

.link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: bold;
    margin-right: var(--padding-left_rigth);
    font-size: 1.3em;
    transition: all .2s ease-in-out;
}

.link:hover{
    color: #ffffff;
    filter: drop-shadow(#7D8491 0px 0px 5px);
}
.toggle-menu__label, .toggle_menu{
    display: none;
}

@media(max-width: 768px){
    /* .toggle-menu__label{
        display: block;
        margin-right: .5em;
        cursor: pointer;
        transition: all .3s ease-in-out;
    }
    .toggle-menu__label:hover{
        transform: scale(1.1);
    }
    .toggle-menu__label:active{
        transform: scale(0.9);
    } */

    .logo__img{
        display: none;
    }
    .ul__links{
        position: absolute;
        left: 15px;
    }
    
}
@media(max-width: 300px){
   
    .ul__links{
        position: absolute;
        left: 15px;
    }
    
}